{% extends "base.html" %}
{% load static %}
{% load price_filters %}
{% block Search-content %}
<div class="Search Container">
    {% if selected_category%}
    <nav class="breadcrumb">
      <span><a href="{% url 'myshop'%}">Shop</a> / Category / {{selected_category.name}}</span> 
    </nav>
    {% endif %}
    <div class="Search-content">
        <div class="shop-container">
         {% if products %}
            {% for product in products %}
            <div class="product card">
                {% if product.get_discounted_price < product.price %}
                    <span class="sale-badge">Sale</span>
                {% endif %}
                    <a class="zoomimg rounded-top" href = '{% url 'product' %}?id={{product.id}}'>
                        {% if product.ImageUrl %}
                            <img src="{{ product.ImageUrl }}" 
                                alt="{{ product.name }}" 
                                style="max-height: 100%; max-width: 100%; object-fit: contain;">
                        {% else %}
                            <img src="{% static 'img/nothing.jpg' %}" 
                                alt="No image available" 
                                style="max-height: 100%; max-width: 100%; object-fit: contain;">
                        {% endif %}
                    </a>
                <div class="product-content">
                    <a class="product-title clamp-2" href = '{% url 'product' %}?id={{product.id}}'>{{product.name}}</a>
                    {% if product.get_discounted_price < product.price %}
                    <div class="price">
                        <span class="old-price">
                        {{ product.price|format_price }}
                        </span>
                        <span class="new-price">
                        {{ product.get_discounted_price|format_price}}
                        </span>
                    </div>
                    {% else %}
                    <div class="price">
                        <span class="new-price">
                        {{ product.get_discounted_price|format_price }}
                        </span>
                    </div>
                    {% endif %}
                    <button class="add-to-cart btn update-cart login-action" data-product="{{ product.id }}" 
                    data-action="add"
                    data-authenticated="{{ user.is_authenticated|yesno:'1,0' }}">
                    <div class="text-wrapper" id="wrapper-{{ product.id }}" >
                        <div class="cart-line">Thêm vào giỏ hàng</div>
                    </div>
                    </button>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">Không có sản phẩm nào trong danh mục này.</div>
        {% endif %}
        </div>
    </div>
    {% include "pagination.html" with page_obj=page_obj page_param="page" id="" %}
</div>
{% endblock %}